.DS_Store
docs
docs/**/*
bin
bin/**/*
bin/fixtures
bin-debug/*
bin-debug/**/*
lib/asunit3
lib/asunit3/**/*
test_report.txt
tests_failed.txt
test_server.log
.macromedia
.FlexUnitSettings
.FlexUnitSettings/**/*
src/FlexUnitApplication.as
src/FlexUnitCompilerApplication.as
test/fixtures/xmls/palestra_nelson.flv